@import '../../globalStyle.module.scss';


@mixin blurEffect($opacity,$blurLevel){
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur($blurLevel);
    backdrop-filter: blur($blurLevel);
    // opacity set to 1 for now since people hate blur :(
    background-color: rgba(255, 255, 255, $opacity);
  }
}




.tooltipBox {
  width: 300px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  font-family: $font;
  padding: 10px;
  background: #ffffff;
  position: absolute;
  border-radius: 10px;
  @include blurEffect(0.6,15px);
}

.tooltipName {
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 14px;
}

.tooltipEmployees {
  font-size: 12px;
}

.tooltipRevenue {
  font-size: 12px;
}

.tooltipFounded {
  font-size: 12px;
  padding-top: 5px;
}

.tooltipFounders {
  font-size: 12px;
}

.tooltipInfo{
  font-size: 12px;
  display: block;
  padding-top: 5px;
}

.tooltipWebsite {
  font-size: 12px;
  display: block;
  padding-top: 5px;
  text-align: center;
}
