
.InfoButton {

    
    text-align:center;
    width: 45px;
    height:45px;
    background-color: white;
    z-index:2;
    line-height: 45px;
    font-weight:1000;
    font-size:30px;
    border-radius:50%;
    border: 3px solid black;

}