
@mixin blurEffect($opacity,$blurLevel) {
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      -webkit-backdrop-filter: blur($blurLevel);
      backdrop-filter: blur($blurLevel);
      // opacity set to 1 for now since people hate blur :( 
      background-color: rgba(224, 224, 224, $opacity);
    }
  }

  @import '../../globalStyle.module.scss';


.InfoButton {
  position:relative;
  width:300px;

    cursor: pointer;

  .button{
    @include blurEffect(0.1, 15px);
    overflow:visible;

    transition: all .2s ease-in-out;
    margin:auto;
    
    text-align:center;
    width: 45px;
    height:45px;
    z-index:2;
    line-height: 45px;
    font-weight:1000;
    font-size:30px;
    border-radius:50%;
    border: 3px solid black;
  }

  .popupBox{
    border-radius:10px;
    font-family:$font;
    @include blurEffect(0.8, 15px);
    background: #d3d3d3;
    text-align:center;

  .bubble {
    position:relative;

    .introText{
      font-weight:bold;
      font-family:$font;
      text-align:center;
      font-size:13px;
    }

    .footer{
      text-align: center;
      font-family: $font;
      font-size: 8px;
      font-style: italic;
    }

    margin-top:36px;
    padding:10px;
    // background: #d3d3d3;
    border-radius: .4em;
    border:px solid black;
  }

  .bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #d3d3d3;
    border-top: 0;
    margin-left: -20px;
    margin-top: -20px;
  }

}

.button:hover {
  -webkit-transform: scale(1.5,1.5);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1.5,1.5);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}

}