
.timeSlider{

> #chart svg line.track-inset {
    stroke: steelblue;
    stroke-width: 20px;
}
#chart svg line.track-overlay {
    stroke: #e73a4e;
    stroke-width: 15px;
    stroke-opacity: 0;
    cursor: grab;
}
#chart svg .handle {
    fill: orange;
}
#chart svg line.track-overlay, #chart svg line.track, #chart svg line.track-inset {
    stroke-linecap: round;
}

#chart svg .ticks {
  font-size: 15px;
}
}