@import '../../globalStyle.module.scss';

.App {

  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;


  .title {
    padding: 10px;
    text-align: center;
    font-family: $font;
    font-weight: bold;
    // border-radius: 5px;
    font-size: 40px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    color: $black;
    z-index:1;
    //background-color: #65656c;
  }

  .subtitle {
    padding: 10px;
    text-align: center;
    font-family: $font;
    z-index:1;
    // border-radius: 5px;
    font-size: 25px;
    font-style: italic;
    color: $black;
    //background-color: #65656c;

    margin-bottom: 20px;
  }

  .footer {
    padding: 10px;
    text-align: center;
    font-family: $font;
    // border-radius: 5px;
    font-size: 10px;
    font-style: italic;
    color: #65656c;
  }

  .megaBallsView {
    padding:20px;
    border-radius: 8px;
    //background-color: rgb(233, 229, 229);
    
  }

  .aggregateKTHDataView {
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(233, 229, 229)
  }

  .infobox {
    /*.numbers {
      fill: black;
      font-size: 24px;
      font-weight: bold;
      text-anchor: middle;
    }
    .labels {*/
      fill: black;
      font-size: 16px;
      text-anchor: middle;
    /*}
    .minus {
      fill: red;
      font-size: 16px;
      text-anchor: middle;
    }
    .plus {
      fill: green;
      font-size: 16px;
      text-anchor: middle;
    }*/
  }

}
