@import '../../globalStyle.module.scss';


// this is like a function that takes in opacity: (0-1), blurLevel= a number with px appended e.g. '15px'
// and applies the blur effect to whatever element the css selector applies to!
// see here for more details: https://sass-lang.com/documentation/at-rules/mixin
@mixin blurEffect($opacity,$blurLevel){
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur($blurLevel);
    backdrop-filter: blur($blurLevel);
    // opacity set to 1 for now since people hate blur :( 
    background-color: rgba(255, 255, 255, $opacity);  
  }
}


.App {
  height:100vh;
  width:100vw;
  font-family: $font;
  position:relative;

  // removes ability to scroll page! comment out for debugging purposes
  // overflow:hidden;
  
  // megaballs is out of content flow, so places outside. (positioned absolutely behind content)
  .megaBallsView{
    position:absolute;
  }

    .content{
      position:relative;
      width:80%;
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-self:center;
      margin:0 auto;

      padding-top:50px;
      

      background-color:red;

      
      
      .header {
        position:relative;
        display:flex;
        flex-direction:column;
        align-items:center;
        
        .titleAndSubtitleWrapper {
          border-top: 2px solid;
          text-align:center;
         
          .title {
          
          font-weight: bold;
          font-size: 60px;
          border-bottom: 2px solid;
          }
          .subtitle {
          margin-top:10px;
          font-size: 20px;
          font-style: italic;
          }
        }
      }

    .ballsLegend{
      // display inline block is just temporary so that the element doesn't spread horizontally
      // which stops you from being able to drag the circle
      // display:inline-block;
      z-index:2;
      position:absolute;
      left:20px;
      top:50px;

    }
       
    .companyLabel{
      background-color:white;
   
    }

    .sunburst{
      // display:inline-block;
      z-index:2;
      position:relative;
    }

    .grantsChart{
      border-radius:10px;
      // display:inline-block;
      padding:20px;
      z-index:2;
      position:relative;
      @include blurEffect(0.7,15px);
    }

  .footer {
    position:relative;
    padding: 10px;
    text-align: center;
    font-family: $font;
    // border-radius: 5px;
    font-size: 10px;
    font-style: italic;
    color: #65656c;
  }

  a:link { 
    color: #000000;
    text-decoration: none; 
  }

  .infobox {
    // display:inline-block;
    position:relative;
    fill: black;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    z-index:2;
  }

  .timeSlider{
    position:relative;
    padding:10px;
    border-radius:10px;
    z-index:2;

    @include blurEffect(0.1,15px);
  }

  .companyLabel{
   border-radius:10px;
   position:relative;
   z-index:2;
   @include blurEffect(1,15px);
  }

  }

} //app




