@import '../../globalStyle.module.scss';

.container{

    display:flex;
    flex-direction:column;

    .categoryRow{

        height:25px;
        width:550px;
        // use margin to make space between the rows
        //margin-top:1px;
        //margin-left:1px;
        //margin-right:50px;
        //margin-bottom:25px;
        line-height: 0px;

        display:flex;
        flex-direction:row;

        // spreads out the contents of the row in diff ways, use this!
        justify-content: flex-start;

        .companyLabel{

             // import kth font from globalStyles and use it to set font and font size here as well

             font-family: $font;
             font-size: 2em;;
             display: 'inline-block';
             vertical-align: middle;

        }
    }

    



}